/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Pacifico&family=Poppins:wght@300;400;700&display=swap');

/*===== Global =====*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--green-1: #26643b;
	--green-2: #a2de96;
	--lightgreen-1: #d6e5d8;
	--lightgreen-2: #f5fcf4;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
	--SlateBlue: #6A5ACD;
}
body{
	font-family: 'Poppins';
	overflow: hidden;
}
h1,h2,h3,h4,h5{
	color: var(--black-2);
}
a{
	text-decoration: none;
}
p{
	color: var(--black-1);
}
ul{
	list-style: none;
}
.container{
	width: 80%;
	margin: auto;
}
/* header */
header{
	background: var(--green-2);
	width: 100vw;
	height: 90vh;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.navlinks{
	background: var(--);
	display: flex;
	align-items: center;
}
.navlinks li{
	margin: 0 20px;
}
.navlinks img{
	width: 50px;
}
.navlinks li a{
	color: var(--black-1);
}
/* mobile device */
@media only screen and (max-width:750px){
	.container{
		width: 90%;
	}
	.navbar{
		flex-direction: column;
	}
	.navlinks{
		flex-direction: column;
		background: var(--SlateBlue);
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		margin-top: ;
	}
	.navlinks li{
		margin: 20px auto;
	}
	.navlinks li a{
		color: var(--black-1);
	}
	.brand img{
		width: 100px;
	}
}


