
/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Pacifico&family=Poppins:wght@300;400;700&display=swap');

/*===== Global =====*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--green-1: #008037;
	--green-2: #a2de96;
	--lightgreen-1: #d6e5d8;
	--lightgreen-2: #f5fcf4;
	--black-1: #3b413a;
	--black-2: #3f3c3c;
	--black-3: #5b6359;
	--white-1: #e8e8e8;
	--SlateBlue: #6A5ACD;
	--Magenta:	#FF00FF;
	--LightCyan: #E0FFFF;
	--Lavender:	#E6E6FA;
}

body{
	background-color: var(--lightgreen-2);
	font-family: 'Poppins';
	overflow-x: hidden;
}
h1,h2,h3,h4,h5{
	color: var(--black-2);
}
a{
	text-decoration: none;
}
p{
	color: var(--black-1);
}
ul{
	list-style: none;
}
img{
	width: 100%;
}
.container{
	width: 90%;
	margin: auto;
}
.container .section-header{
	text-align: center;
}
.btnPrimary{
	padding: 10px 20px;
	background: var(--green-1);
	color: whitesmoke;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	margin: 10px 0;
}






/* Navbar */
.navbar{
	display: block;
	width: 100%;
	position: fixed;
	background-color: white;
}
.navbar img{
	width: 150px;
	padding: 10px 0;
}
.navLinks{
	background: var(--SlateBlue);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -1000px;
	transition: all 0.5s ease-in-out;
	padding-top: 80px;
}
.navLinks li{
	margin: 20px auto;
}
.navLinks img{
	width: 50px;
}
.navLinks li a{
	color: #dddddd;
}
.navLinks .active{
	margin-top: 0px;
}

.menuBtn{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	font-size: 25px;
	display: block;
	color: black;
}


/* ------- */

/* #section-one{background-color: #c1bbe4;} */
/* #section-two{background-color: #cd7e5a;} */
/* #section-three{background-color: #5acd67;} */






/* section-one */
.line{
	width: 150px;
	height: 4px;
	background: var(--Magenta);
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 100px;
}
.wrapper{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}
.left-wrapper{
	max-width: 360px;
}
.imgWrapper{
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}
#section-one h1, h3{
	font-family: 'Poppins';
	font-weight: 600;
	line-height: 1.4em;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);

}
#section-one p{
	text-align: center;
	font-size: 1rem;
	margin-bottom: 1.4rem;
}
#section-one .btnPrimary{
	margin-left: 100px;
}
/* #section-one img, .text{
	padding-top: 20px;
}
#section-one .btnPrimary{	
	background: black;
}
#section-one .line{
	margin-left: 100px;
}
#section-one .text{
	text-align: center;
} */


/* section-two */
#section-two h3{
	text-align: center;
	padding: 20px 0;

}
#section-two h1{
	padding: 20px 0;
}

/* section-three */
#section-three h3{
	text-align: center;
	padding: 20px 0;
}
#section-three h1{
	padding: 20px 0;
}

/* section-four */
#section-four h3{
	text-align: center;
	padding-top: 20px;
}
#section-four h1{
	text-align: center;
	padding: 20px 0;
}
#section-four p{
	padding-bottom: 20px;
}
.copyright p{
	text-align: center;
	padding: 15px 0;
}


/* Landscape */

@media only screen and (min-width: 768px) {
	/* .navbar-wrapper{
		display: flex;
		justify-content: space-between;
	}
	.menuBtn{
		display: none;
	}
	.navLinks li{
		display: inline-block;
	} */

	/* section-one */
	.wrapper{
		flex-direction: row;
		gap: 0;
	}
	.left{
		flex: 3;
	}
	.right{
		flex: 4;
	}
	#section-one h1{
	font-size: 1.8rem;
	margin-bottom: 1.4rem;
	text-align: center;	
	}
	#section-one p{
		margin-bottom: 1.4rem;
		text-align: center;
		font-size: 1.2rem;
	}
	#section-one .btnPrimary{
		margin-bottom: 2rem;
	}
	
}
	




























#categories{
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}
.food{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}
.category{
	text-align: center;
}
#specials{
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}
.special{
	text-align: center;
}
#topDishes{
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}
.topDishe{
	text-align: center;
}
#copyright{
	text-align: center;
}



#categories{
	flex-direction: column;
	margin-bottom: 30px;
}
.food{
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}
.category{
	margin: 20px auto;
	text-align: center
}
.category img{
	max-width: 90%;
}
#specials{
	flex-direction: column;
	margin-bottom: 30px;
}
.special{
	margin: 20px auto;
	text-align: center;
}.special img{
	max-width: 90%;
}
#topDishes{
	flex-direction: column;
	margin-bottom: 30px;
}
.topDishe{
	margin: 20px auto;
	text-align: center;
}.topDishe img{
	max-width: 90%;
}
#copyright{
	text-align: center;
}














/* mobile device */
@media only screen and (max-width:750px){
}


